.fixed img {
position: fixed;
top: 0px;
left: 25%;
height: 300px;
width: 50%;
z-index: 1000;
}

.fixed{
  background-color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 300px;
  width: 100%;
  z-index: 1000;
  }

.footer { 
  background-color: black;
  position: relative;
  height: 100px;
  width: 100%;
}

.placeholder {
  height: 300px;
  width: 100%;
}
